        @charset"UTF-8";
        /* CSS Document */
         html, body {
            margin: 0;
            padding: 0;
            font-family:'Open Sans', sans-serif;
            color: #494949;
        }
        #wrapper {
            width: 300px;
            margin: 0 auto;
        }
        .callInfo {
            width: 190px;
            height: 70px;
            float: left;
        }
        #connectedCall .callInfo {
            width: 240px;
        }
        #dialPad div{
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;

            /*
            Introduced in IE 10.
            See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
            */
            -ms-user-select: none;
            user-select: none;
        }
        .callInfo h3 {
            color: #389400;
            margin: 10px 0 10px 0;
        }
        .callInfo p {
            margin: 0px 25px 0px 0px;
            float: left;
        }
        #answer, #hangUp, #reject, #connectCall, #mute {
            color: #FFF;
            background-color: #389400;
            width: 50px;
            height: 50px;
            float: right;
            text-align: center;
            font-size: 30px;
            margin: 10px 0px 10px 0px;
            border-radius: 25px 25px 25px 25px;
            -moz-border-radius: 25px 25px 25px 25px;
            -webkit-border-radius: 25px 25px 25px 25px;
            cursor: pointer;
            cursor: hand;
        }
        #mute:active, #connectCall:active, #reject:active, #hangUp:active, #answer:active {
            background-color: #B6B6B6;
            -webkit-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
            -moz-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
            border: none;
        }
        #hangUp, #reject {
            -ms-transform: rotate(135deg);
            /* IE 9 */
            -webkit-transform: rotate(135deg);
            /* Chrome, Safari, Opera */
            transform: rotate(135deg);
        }
        #hangUp {
            background-color: #A90002;
        }
        #reject {
            background-color: #FFF;
            color: #A90002;
            margin-right: 10px;
        }
        #connectCall, #mute {
            color: #FFF;
            background-color: #389400;
            width:260px;
            height: 50px;
            font-size: 30px;
            text-align: center;
            margin: 20px 20px 0px 20px;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            cursor: pointer;
            cursor: hand;
        }
        #mute {
            color: #545454;
            margin: 0 auto;
            width: 50px;
            height: 50px;
            margin: 15px 125px 10px 20px;
            border-radius: 25px 25px 25px 25px;
            -moz-border-radius: 25px 25px 25px 25px;
            -webkit-border-radius: 25px 25px 25px 25px;
            background-color: #FFF;
        }
        .muteActive {
            color: #FFF;
            background-color:#389400;
        }
        #to {
            border-bottom: 2px solid #BBBBBB;
        }
        #toField {
            margin-top: 20px;
            padding-left: 10px;
            font-size: 1em;
            font-family:'Open Sans', sans-serif;
            width: 300px;
            height: 40px;
            border-radius: 2px 2px 2px 2px;
            -moz-border-radius: 2px 2px 2px 2px;
            -webkit-border-radius: 2px 2px 2px 2px;
            border: 0px solid #B8B8B8;
        }
        #dialPad {
            width: 240px;
            height: 308px;
            margin:0 auto;
        }
        #dialPad div {
            float: left;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 26px;
            margin: 25px 15px 0px 15px;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            border-radius: 25px 25px 25px 25px;
            -moz-border-radius: 25px 25px 25px 25px;
            -webkit-border-radius: 25px 25px 25px 25px;
            border: 1px solid #E8E8E8;
            padding-top: 5px;
        }
        #dialPad div:hover {
            background-color: #389400;
            color: #FFF;
            cursor: pointer;
            cursor: hand;
        }
        #dialPad div:active {
            background-color: #B2B2B2;
            -webkit-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
            -moz-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
            border: none;
        }
        .fa {
            margin-top: 11px;
        }
        #answer .fa {
            -webkit-animation: callp 1s;
            animation: callp 1s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            -webkit-animation-play-state: running;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-play-state: running;
        }
        @-webkit-keyframes callp {
            from {
                color: #FFF;
            }
            to {
                color: #389400;
            }
        }
        @keyframes callp {
            from {
                color: #FFF;
            }
            to {
                color: #389400;
            }
        }
        #answer {
            -webkit-animation: call 1s;
            animation: call 1s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            -webkit-animation-play-state: running;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-play-state: running;
        }
        @-webkit-keyframes call {
            from {
                background: #389400;
            }
            to {
                background: #FFF;
            }
        }
        @keyframes call {
            from {
                background: #389400;
            }
            to {
                background: #FFF;
            }
        }